@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Nunito:wght@200&family=Overpass:ital,wght@1,100&family=Roboto:wght@500&display=swap');

* {
  font-family: 'Montserrat';
}

.main-container {
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.3;
  min-height: 100vh;
}

.sign-up-background-icon {
  position: absolute;
  bottom: 2%;
  right: 0;
  opacity: 0.5;
}

.sign-up-background-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.sign-up-heading {
  margin-top: 63px;

  font-weight: 800;
  font-size: calc(34px + (68 - 34) * ((100vw - 414px) / (1240 - 414)));

  color: #5b5b5b;
}

.sign-up-title {
  font-weight: 700;
  font-size: calc(19px + (32 - 19) * ((100vw - 414px) / (1240 - 414)));
  color: #5b5b5b;
}

.sign-up-description {
  width: 70%;
  margin-top: 79px;
  font-weight: 400;
  font-size: calc(20px + (40 - 20) * ((100vw - 414px) / (1240 - 414)));

  color: #5b5b5b;
}

.sign-up-date-time {
  margin-top: 77px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: calc(19px + (24 - 19) * ((100vw - 414px) / (1240 - 414)));

  color: #121117;
}

.form-sign-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.input-container > Input {
  width: 75%;
  height: 66px;

  background: #fcfcfc;
  border: 1px solid #929292;
  box-shadow: inset 1px 1px 20px rgba(75, 76, 77, 0.1);
  border-radius: 50px;

  padding-left: 38px;
  font-weight: 600;
  font-size: calc(19px + (24 - 19) * ((100vw - 414px) / (1240 - 414)));
  line-height: 29px;

  color: #5e5e5e;
}

.sign-up-btn-container {
  margin-top: 22px;
  width: 100%;

  display: flex;
  justify-content: center;
}

.sign-up-btn-container > Button {
  width: 75%;
  height: 66px;

  background: #5b5b5b;
  border: 1px solid #929292;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
  border-radius: 50px;

  color: #ffffff;
  font-weight: 600;
  font-size: calc(19px + (24 - 19) * ((100vw - 414px) / (1240 - 414)));
  line-height: 29px;
}

.sign-up-share-contact {
  margin-top: 28px;

  font-weight: 600;
  font-size: calc(19px + (24 - 19) * ((100vw - 414px) / (1240 - 414)));
  line-height: 29px;
  color: #5e5e5e;
}

.sign-up-contact-icon-container {
  margin-top: 15px;
  width: 35%;

  display: flex;
  justify-content: space-between;
}

.sign-up-banner-mobile {
  display: none;
  position: absolute;
}

.sign-up-background-mobile {
  display: none;
}

.form-sign-up-heading-container,
.form-sign-up-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .main-container {
    padding-bottom: 152px;
  }
}

@media only screen and (min-width: 1200px) {
  .main-container {
    background-image: url(./assets/images/BackgroundImage.png);
  }
}

@media only screen and (max-width: 767px) {
  .main-container {
    flex-direction: column;
    padding-left: 10px;
    background-image: url(./assets/images/BackgroundMobile.svg);
    background-size: 90%;
    background-position: 60% 15%;
  }

  .form-sign-up-container {
    height: 100vh;
    justify-content: space-between;
    padding-bottom: 35px;
  }

  .form-sign-up-heading-container {
    align-items: flex-start;
    width: 100%;
    padding-left: 20px;
  }

  .sign-up-banner-image {
    display: none;
  }

  .sign-up-background-bottom-right {
    display: none;
  }

  .sign-up-background-icon {
    display: none;
  }

  .sign-up-background-mobile {
    display: block;
    position: absolute;
    top: 8%;
    right: 4%;
    width: 90%;
  }

  .sign-up-heading {
    margin-top: 15px;
    line-height: 42px;
  }

  .sign-up-title {
    line-height: 23px;
  }

  .sign-up-banner-mobile {
    display: block;
    top: 13%;
    left: 17%;
  }

  .sign-up-description {
    width: 85%;
    margin-bottom: 5px;

    font-weight: 500;

    line-height: 24px;
    text-align: center;
    color: #5b5b5b;
  }

  .sign-up-date-time {
    margin-top: 5px;
    line-height: 22px;
  }

  .input-container > Input {
    width: 85%;
    height: 51.33px;
    line-height: 23px;
  }

  .sign-up-btn-container {
    margin-top: 27px;
  }

  .sign-up-btn-container > Button {
    width: 85%;
    height: 51.33px;
    line-height: 23px;
  }

  .sign-up-contact-icon-container {
    width: 55%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .main-container {
    background-image: url(./assets/images/Background768.jpg);
  }
  .sign-up-description {
    text-align: center;
  }
}

@media only screen and (min-width: 1240px) {
  .sign-up-title {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 376px) {
  .main-container {
    background-size: 60%;
    background-position: 50% 13%;
  }
}

@media only screen and (max-width: 361px) {
  .main-container {
    background-size: 80%;
  }
}
